build
/src/.vs/src/CopilotIndices/17.14.1091.29919
/src/.vs/src/FileContentIndex
/src/.vs/src/v17
/.vs/YSFLIGHT/CopilotIndices/17.14.1091.29919
/.vs/YSFLIGHT/FileContentIndex
/.vs/YSFLIGHT/v17
/.vs
/src/.vs
